

  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

  * {
      font-family: 'Press Start 2P', cursive;
      margin: 0;
      padding: 0;
      outline: none;
      border: none;
      text-decoration: none;
      text-transform: capitalize;
    }
  
    body {
      background-image: linear-gradient(
        to top,
        #121535,
        #1b1a3f,
        #251f49,
        #2f2352,
        #3a285c
      );
    }
    
    footer{
      margin-top: 40px;
    }
    
    article {
      width: 300px;
      border: 2px solid gray;
      padding: 10px;
      border-radius: 10px;
      margin: 5px;
    }
    
    figure {
      margin: 0 auto;
    }
    
    img {
      display: block;
      width: 273px;
      margin: 0 auto;
      aspect-ratio: auto 500/250;
    }
  
    #map { 
      width: 100%;
      height: 580px;
      box-shadow: 5px 5px 5px #888;
   }
  
   section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #footer{
    color: white;
  }
  .header {
    /* Sticky navbar */
    
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
  
    background-color: var(--white);
  
    /* Shadow */
     box-shadow: var(--box-shadow); 
  
  }
  
  .header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.1rem 2rem;
  }
  
  .header .flex .logo img {
    height: 5rem;
  }
  
  .header .flex .navbar a {
    margin-left: 2rem;
    font-size: 1.2rem;
    color: var(--black);
  }
  
  .header .flex .navbar a:hover {
    text-decoration: underline;
    color: var(--main-color);
  }
  
  :root {
    --white: rgb(124, 138, 218);
    --border: .2rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgb(0 0 0 / 10%);
  }
  
  .about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
  }
  
  .about .image {
    width: 100%;
  }
  
  .about .content {
    width: 56%; 
  }
  
  .about .content h2 {
    font-size: 3rem;
    color: var(--black);
    padding-bottom: 1rem;
    color:  rgb(124, 138, 218);
  }
  
  /* RWD: Tamaño de fuentes adaptables */
  .about .content p {
    padding: 1rem 0;
    line-height: 2;
    color: var(--light-color);
    font-size: 18px;
    color:#e7d3df;
  }
  
  
  .projects {
    margin-top: 50px;
  }

  .cards-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .project-card {
    margin-top: 30px;
    width: 300px;
    height: auto;
    border-radius: 10px;
    background-color: var(--blue-sky);
    border: 2px solid var(--pink-punk);
    position: relative;
    box-shadow: 0px 0px 4px 4px var(--pink-strong);
  }
  .card-info {
    text-align: center;
    padding: 10px;
  }
  .card-title {
    font-family: "Iceland", cursive;
    font-size: 30px;
    text-shadow: 0px 0px 25px var(--green);
  }
  .card-image {
    border-radius: 10px;
    width: 100%;
    height: 180px;
    border-bottom: 2px solid var(--blue-night);
  }
  .card-description {
    text-align: justify;
    font-size: 16px;
    font-family: "Share Tech Mono", monospace;
  }
  .card-tech {
    font-family: "Iceland", cursive;
    text-align: left;
    font-size: 18px;
    text-shadow: 0px 0px 20px var(--pink-punk);
  }
  .icon-tech {
    width: 100%;
    display: flex;
    font-size: 16px;
    justify-content: space-around;
    text-shadow: 0px 0px 25px var(--green);
  }
  .card-icon:hover {
    color: var(--green);
  }
  
  .marco-digital {
    width: 500px;
    height: 360px;
    display: flex;
    position: relative;
  }
  
  .marco-digital img{
    width: 0%;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }

  .marco-digital img:hover{
    cursor: crosshair;
    width: 100px;
    opacity: 1;
    filter: contrast(120%);
  }

  .habilidades{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas de tamaño igual */
    grid-gap: 50px;
  }

  .skills_contenedor{
    width: 100%;
    background-color: #ddd;
    display: grid;
    grid-gap: 10px;
  }

  .skill{
      color: rgb(124, 138, 218);
      padding-bottom: 1rem;
      
  }

  .skills{
    text-align: right;
    padding: 10px;
    color: white;
    font-weight: bold;
  }

  .p90{
    background-color: #04aa6d;
    animation: fillp90 2s forwards;
  }

  @keyframes fillp90 {
    0%{width: 0;}
    100%{width: 90%;}
  }
  
  .p80{
    background-color: #04aa6d;
    animation: fillp80 2s forwards;
  }

  @keyframes fillp80 {
    0%{width: 0;}
    100%{width: 80%;}
  }

  .p70{
    background-color: #04aa6d;
    animation: fillp70 2s forwards;
  }

  @keyframes fillp70 {
    0%{width: 0;}
    100%{width: 70%;}
  }

  .p60{
    background-color: #04aa6d;
    animation: fillp60 2s forwards;
  }

  @keyframes fillp60 {
    0%{width: 0;}
    100%{width: 60%;}
  }

  .p50{
    background-color: #04aa6d;
    animation: fillp50 2s forwards;
  }

  @keyframes fillp50 {
    0%{width: 0;}
    100%{width: 50%;}
  }

  .badges{
    display: grid;
    color: rgb(251, 249, 249);
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas de tamaño igual */
    grid-gap: 2rem;
  }

  .buttons {
    text-align: center;
    margin-top: 5px;
  }
  .button {
    border: 1px solid white;
    color: var(--green);
    background-color: transparent;
    margin: 20px;
    font-size: 16px;
    box-shadow: 0px 0px 3px 3px var(--green);
  }
  .button:hover {
    background-color: var(--pink-strong);
  }
  footer {
    text-align: center;
    margin-top: 20px;
  }

  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  /* Left contact page */
  .form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, 
  textarea {
    max-width: 400px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  