
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');

.chino{
  font-family: 'Noto Sans TC', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  article {
    width: 300px;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
  }
  
  figure {
    margin: 0 auto;
  }
  
  img {
    display: block;
    width: 273px;
    margin: 0 auto;
    aspect-ratio: auto 500/250;
  }

  #map { 
    width: 100%;
    height: 580px;
    box-shadow: 5px 5px 5px #888;
 }

 h2{
  font-family: 'Times New Roman', 'serif';
  color: #905;
 }


 
